.navbar {
	background-color: #412213;
	padding: 0;
}

.nav-link {
	color: white !important;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
}

.nav-link:hover {
	background-color: white !important;
	color: #412213 !important; 
}

.dropdown-menu {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: none;
	border-radius: 0;
}

.navbar-nav > li > .dropdown-menu a {
	color: white;
	text-decoration: none;
}

.navbar-nav > li > .dropdown-menu a:hover {
	background-color: white !important;
	color: #412213;  
}

#homenav > .dropdown-menu {
	background-color: #412213;
}

#joeynav > .dropdown-menu { 
	background-color: #B65518; 
}

#cubnav > .dropdown-menu { 
	background-color: #FFC82E; 
}

#scoutnav > .dropdown-menu { 
	background-color: #00AE42; 
}

#bronze {
	background-color: #CD7F32;
}

#silver {
	background-color: silver;
}

#gold {
	background-color: #D4AF37;
}

#pioneer {
	background-color: red;
}

#explorer {
	background-color: blue;
}

#adventurer {
	background-color: green;
}

@media (max-width: 992px) {
	.navbar ul {
		padding-left: 2em;
	}
}