/*
----------------------------------------------------------------------------- 
GLOBALS
-----------------------------------------------------------------------------*/
html {
	background-color:#d7ded8;
	background: url(../images/background/bg.jpg) no-repeat center center fixed;
	background-size: cover;
}

body {
	width:50em;
	margin:1em auto;
	overflow-y:scroll;/*scrollbar on all the time for consistency between short and long pages*/
	font-family:verdana,arial,helvetica,sans-serif;
	padding:0.7em;
	background-color:#ffffff;
}

div.clear {
	clear:both;
}

img {
	vertical-align:inherit;
}

#badge {
	float: right;
	padding-left: 2em;
	height: 7em;
}

#badge2 {
	float: right;
	padding-left: 1em;
	height:4em;
}

#badgeleft {
	float: left;
	padding-left:1.7em;
	height: 7em;
	padding-bottom: 1.5em;
}

#cubsibadge {
	float: left;
	padding-right: 2em;
	padding-left: 2em;
	height: 7em;
}

#abadge {
	float: right;
	margin-top: -1em;
	margin-bottom: 2em;
	height: 6em;
}

.linkcontainer {
    display: table;
    width: 35em;
	padding-left: 7em;
}
	

/*
----------------------------------------------------------------------------- 
HEADINGS
-----------------------------------------------------------------------------*/

h1 {
	font-family:georgia, serif;
	font-size:2em;
	font-weight:normal;
	color:#fff;
}


h2 {
	font-size:1.3em;
	font-weight:normal;
	color:#412213;
}

h3 {
	color:#412213;
	font-weight:normal;
	font-size:1em;
	margin:1em 0em 0em;
}

/*
----------------------------------------------------------------------------- 
DEFAULT FONT STYLES
-----------------------------------------------------------------------------*/

p {
	font-size:0.8em;
	line-height:1.4em;
	margin:0.75em 0em 1em;
	color:#000000;
}

ul {
	font-size:0.8em;
	line-height:1.4em;
	margin:0.5em 0em 1em;
	color:#000000;
	list-style: none;
	list-style-type: disc;
}

li {
	padding-bottom:1em;
}

ol {
	font-size:0.8em;
	line-height:1.4em;
	margin:0.5em 0em 1em;
	color:#000000;
}

/*
----------------------------------------------------------------------------- 
LINKS
-----------------------------------------------------------------------------*/

a {
	color:#412213;
	text-decoration:none;
	font-weight:bold;
}

a:hover, a:focus {
	color:#e5733b;
}

a img {
	border:none;
}

/*
----------------------------------------------------------------------------- 
Footer
-----------------------------------------------------------------------------*/

.footer {
	background: #D7DED8;
	text-align: right;
	padding-right: 0.5em;
	font-size: 0.8em;
	height: 16px;
}

.footer p {
	color: gray;
}

/*
----------------------------------------------------------------------------- 
Sidebar Shenanigans
-----------------------------------------------------------------------------*/

#container {
    display: table;
    width: 50em;
}

#content {
    display: table-cell;
    width: 49em;
	background: white;
	padding-left: 1em;
}

#contentach {
    display: table-cell;
    width: 24.5em;
	background: white;
	padding-left: 1em;
}

#sidebar {
    background: #FFC82E;
	display: table-cell;
    width: 1em;
}

#sidebarj {
    background: #B65518;
	display: table-cell;
    width: 1em;
}

#sidebarc {
    background: #FFC82E;
	display: table-cell;
    width: 1em;
}

#sidebars {
    background: #00AE42;
	display: table-cell;
    width: 1em;
}



